@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400;600&family=Work+Sans:wght@200;300;400;600&display=swap');

html {padding: 0; margin: 0;}
body {font-family: 'Bitter', serif; font-size: 16px; padding: 0; margin: 0; background: #f7f7f7; color: #333;}
h1, h2, h3, h4 {font-family: 'Work Sans', sans-serif;}
h1 {font-weight: 200; letter-spacing: 1px; margin: 0;}
h2, h3, h4 {margin-top: 1.75em;}
h2 {font-weight: 300;}
h3 {font-weight: 400;}
h4 {font-weight: 600;}
p, li {line-height: 1.75em;}

h3 {border-bottom: 1px solid #e4e4e4; padding-bottom: 0.1em;}

h1, h2, h3, h4, p, ul { margin-left: 23vw; margin-right: 23vw; }

header, footer {background: #333; overflow: auto; color: #f7f7f7; position: relative; padding: 1.5em 0 1em 0;}
header a, footer a {color: #f7f7f7;}
nav {padding: 0 23vw; background: #555; display: flex; }
nav a {color: rgb(22, 56, 77); text-transform: capitalize; display: inline-block; background: #999; padding: 1em 1.75em; margin: 0; box-sizing: border-box;}
nav a:hover {background: #aaa;}
.content {padding: 1em 0;}

.right {position: absolute; bottom: 2em; right: 20vw;}

.flex {display: flex; flex-wrap: wrap; }
.flex figure {width: 25%;}
figure {margin: 1.75em 0;}
figure img {width: 100%; height: auto;}

.image { width: 100vw; padding: 1em 0 0 0; position: relative; height: 80vh; box-shadow: inset 0px 6px 10px 0px rgba(0,0,0,0.25); }
div.image:nth-of-type(2) { background: url('ux-images/process.jpg') no-repeat center; background-attachment: fixed; background-color: #fff; background-size: 1280px 510px;}
div.image:nth-of-type(5) { background: url('ux-images/shift.png') no-repeat center; background-attachment: fixed; background-color: #fff; background-size: 1280px 800px;}
div.image:nth-of-type(8) { background: url('ux-images/solo-art.jpg') no-repeat center; background-attachment: fixed; background-color: #fff; background-size: 1280px 567px;}

img {border-radius: 4px;}

@media screen and (max-width: 1200px) {
  nav {padding: 1em 15vw;}
  h1, h2, h3, h4, p, ul { margin-left: 15vw; margin-right: 15vw; }
  .right {right: 15vw;}
}

@media screen and (max-width: 1024px) {
  .flex figure {width: 50%;}
} 

@media screen and (max-width: 500px) {
  .flex figure {width: 100%;}
  nav {padding: 1em 3vw;}
  h1, h2, h3, h4, p, ul { margin-left: 3vw; margin-right: 3vw; }
  .right {right: 3vw;}
}